:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

.app-footer {
  padding: var(--space-lg);
  text-align: center;
  font-size: var(--text-small);
  color: var(--color-green-mid);
}

:host(.page--results) .app-footer {
  background: var(--color-olive);
  color: var(--color-cream);

  a { color: var(--color-cream); }
}
